.achievement{
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 75px;
  &:first-child{
    margin-top: 50px;
  }
  &:last-child{
    margin-bottom: 0!important;
  }
  &__info{
    width: 120px;
  }
}

@media screen and (max-device-width: 600px){
.achievement{
  width: 100% !important;
  border-bottom: 2px solid grey;
  margin-bottom: auto!important;
  &:first-child{
    margin-top: auto !important;
  }
}
}
